
/* width */
::-webkit-scrollbar {
    width: 10px;
    opacity: 0;
}

::-webkit-scrollbar:hover {
    opacity:1;
}

/* Track */
::-webkit-scrollbar-track {
    background: #131313;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #222;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #333;
}

.slider {
    -webkit-appearance: none;
    width: 200px;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4286f4;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4286f4;
    cursor: pointer;
}

.button {
  transition: 0.3s;
  background-color: #4286f4;
  color: white;
  cursor: pointer;
  border-radius: 2px;
 border-color:#4286f4;
  border-width: 2px;
  border-style:solid;

}

.button:hover {
  background-color: #3872d1;
}

.button:active {
  background-color: #7c7c7c;
}

.input {
  transition: 0.3s;
  color:white;
  font-size: 24px;
  background-color: #222;
  border-color: #333;
  border-width: 2px;
  border-style: solid;
}

.input:hover {
  border-color: #4286f4;
}

.label {
  transition: 0.3s;
  color: white;
  font-size: 24;
  cursor: default;
}

.label:hover {
  color: #e1e1e1;
}
