canvas#gamecanvas {
  margin: 0px;
}

body {
  margin: 0px;
  background-color: lightgray;
}

input#colopicker {
  width: 35px;
  height: 35px;
  background-color: lightgray;
}

input#pencilsize {
  background-color: lightgray;
}
