canvas#gamecanvas {
  margin: 0px;
  margin-left: auto;
margin-right: auto;
margin-top: 1px;

  display: table-cell;
    vertical-align: middle
  border-radius: 2px;
  border: 1px;
  border-style: solid;
  border-color: gray;
  border-bottom: 1px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;

}

body {
  margin: 0px;
  background-color: darkgray;
}

input#colopicker {
  width: 35px;
  height: 35px;
  background-color: lightgray;

    border-radius: 2px;
    border: 1px;
    border-style: solid;
    border-color: gray;
    margin-left: 20px;
}

img {
  height: 15px;
  width: 15px;
  margin-top: 2px;
}

button {
  /*
  border-radius: 2px;
  border: 1px;
  border-style: solid;
  border-color: gray;
*/
background-color: lightgray;
width: 25px;
height: 22px;
margin: 0px;
padding: 0px;
  border-radius: 2px;
  border: 1px;
  border-style: solid;
  border-color: gray;
}

input#pencilsize {
  background-color: lightgray;
  width: 30px;
  height: 18px;
  margin: 0px;
  padding: 0px;
    border-radius: 2px;
    border: 1px;
    border-style: solid;
    border-color: gray;

}

div#modules{
  padding: 0px;
  width: 300px;
  height: 27px;
  margin-left: auto;
margin-right: auto;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
/*border-radius: 2px;*/
border: 1px;
border-style: solid;
border-color: gray;
border-top: 0px;
}

div#header{
margin-top: 25px;
    margin-top: 1px;
    width: 300px;
    height: 27px;
    margin-left: auto;
  margin-right: auto;
/*  border-radius: 2px;*/
  border: 1px;
  border-style: solid;
  border-color: gray;
  font-family:monospace;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
