html {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 20px;
  /*opacity: 0;*/
}

body {
  padding: 0;
  margin: 0;
  background-color: #222;
  padding-top: auto !important;
  padding-bottom: auto !important;
}

.gamecanvas {
  margin-top:130px;
  border-radius: 2px;
  border: 2px;
  border-style: solid;
  border-color: #111;
  margin-left: auto;
  margin-right: auto;
  width: 720px;
  height: 540px;

}

.controls {
  width: 720px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
}

#download {
  vertical-align: middle;
    float:right;
    cursor:pointer;
    color:  darkgray;
    padding:3px;
}

#download:hover {
    color: black;
}

#size {
    vertical-align: middle;
}

#color {
  margin-top: 5px;
}

.discord_ad {
  background-color: #111;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  vertical-align: middle;
  padding-top: 20px;
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0; /* Position the navbar at the bottom of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.discord_ad button {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding: 0;
}

/* Change background on mouse-over */
.discord_ad button:hover {
    background: #ddd;
    color: black;

}

footer {
  vertical-align: bottom;
  padding: 0;
  margin: 0;
}

button#discord_ad_ok {
float:right;
margin-right: 20px;
width: 50px;
height: 30px;
}

.discord_ad_msg {
  margin-left: 20px;
  color:white;
}

#discord_link {
  color:  #4286f4;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 40px;
    color: #818181;
    display: block;
    transition: 0.3s;

    width: 100%;
    text-align: center;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    margin-left: 250px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#closeNavigation {
  text-align:right !important;
}

#openNavigation {

}

#openNavigation:hover {
  color:black !important;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #111;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
    margin-bottom: 30px;
}

#sideHeader {
  font-size: 35px;
  cursor: pointer;
}

#sideHeader:hover {
  text-shadow: 2px 2px gray;
}

.tooltip {
    position: relative;
    display: inline-block;

}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip:active .tooltiptext {
    visibility: visible;
}

.tooltiptext {
  position: absolute;
}
